<article class="nextmeeting">
  <h1>Следующая встреча</h1>
  <p>
    <img src="<%= appdata.meeting.where.img %>" alt="Место встречи">
    Наша следующая встреча будет
    <%= appdata.meeting.date %>, <%= appdata.meeting.time %> at
    <%= appdata.meeting.where.name %> <%= appdata.meeting.where.address %>
  </p>
</article>
